.ui-pnotify {
 top:36px;
 right:36px;
 position:absolute;
 height:auto;
 z-index:2
}
body>.ui-pnotify {
 position:fixed;
 z-index:100040
}
.ui-pnotify-modal-overlay {
 background-color:rgba(0,0,0,.4);
 top:0;
 left:0;
 position:absolute;
 height:100%;
 width:100%;
 z-index:1
}
body>.ui-pnotify-modal-overlay {
 position:fixed;
 z-index:100039
}
.ui-pnotify.ui-pnotify-in {
 display:block!important
}
.ui-pnotify.ui-pnotify-move {
 transition:left .5s ease,top .5s ease,right .5s ease,bottom .5s ease
}
.ui-pnotify.ui-pnotify-fade-slow {
 transition:opacity .6s linear;
 opacity:0
}
.ui-pnotify.ui-pnotify-fade-slow.ui-pnotify.ui-pnotify-move {
 transition:opacity .6s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease
}
.ui-pnotify.ui-pnotify-fade-normal {
 transition:opacity .4s linear;
 opacity:0
}
.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move {
 transition:opacity .4s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease
}
.ui-pnotify.ui-pnotify-fade-fast {
 transition:opacity .2s linear;
 opacity:0
}
.ui-pnotify.ui-pnotify-fade-fast.ui-pnotify.ui-pnotify-move {
 transition:opacity .2s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease
}
.ui-pnotify.ui-pnotify-fade-in {
 opacity:1
}
.ui-pnotify .ui-pnotify-shadow {
 -webkit-box-shadow:0 6px 28px 0 rgba(0,0,0,.1);
 -moz-box-shadow:0 6px 28px 0 rgba(0,0,0,.1);
 box-shadow:0 6px 28px 0 rgba(0,0,0,.1)
}
.ui-pnotify-container {
 background-position:0 0;
 padding:.8em;
 height:100%;
 margin:0
}
.ui-pnotify-container:after {
 content:" ";
 visibility:hidden;
 display:block;
 height:0;
 clear:both
}
.ui-pnotify-container.ui-pnotify-sharp {
 -webkit-border-radius:0;
 -moz-border-radius:0;
 border-radius:0
}
.ui-pnotify-title {
 display:block;
 margin-bottom:.4em;
 margin-top:0
}
.ui-pnotify-text {
 display:block;
 color:#000
}
.ui-pnotify-icon,.ui-pnotify-icon span {
 display:block;
 float:left;
 margin-right:.2em;
 margin-top:.3em;
 font-size:18px
}
.ui-pnotify.stack-topleft,.ui-pnotify.stack-bottomleft {
 left:25px;
 right:auto
}
.ui-pnotify.stack-bottomright,.ui-pnotify.stack-bottomleft {
 bottom:25px;
 top:auto
}
.ui-pnotify.stack-modal {
 left:50%;
 right:auto;
 margin-left:-150px
}
.brighttheme {
 -webkit-border-radius:0;
 -moz-border-radius:0;
 border-radius:0
}
.brighttheme.ui-pnotify-container {
 padding:18px
}
.brighttheme .ui-pnotify-title {
 margin-bottom:12px
}
.brighttheme-notice {
 background-color:#fff;
 border:1px solid #87b4cc;
 color:#000
}
.brighttheme-info {
 background-color:#95d7d0;
 border:0 solid #0286a5;
 color:#000
}
.brighttheme-success {
 background-color:#95d7d0;
 color:#000
}
.brighttheme-error {
 background-color:#ffaba2;
 color:#000
}
.brighttheme-icon-notice,.brighttheme-icon-info,.brighttheme-icon-success,.brighttheme-icon-closer,.brighttheme-icon-error,.brighttheme-icon-sticker {
 position:relative;
 font-size:20px;
 line-height:20px;
 font-family:FontAwesome;
 top:-4px
}
.brighttheme-icon-notice:after,.brighttheme-icon-info:after,.brighttheme-icon-success:after,.brighttheme-icon-closer:after,.brighttheme-icon-sticker:after {
 position:relative
}
.brighttheme-icon-notice {
 background-color:#2e2e00;
 color:#ffffa2;
 margin-top:2px
}
.brighttheme-icon-notice:after {
 content:"!"
}
.brighttheme-icon-info {
 color:#8fcedd;
 margin-top:0
}
.brighttheme-icon-info:after {
 content:"i"
}
.brighttheme-icon-success {
 color:#fff
}
.brighttheme-icon-success:before {
 content:""
}
.brighttheme-icon-error:after {
 content:'';
 color:#d63643
}
.brighttheme-icon-closer,.brighttheme-icon-sticker {
 display:inline-block;
 font-size:14px;
 font-weight:normal
}
.brighttheme-icon-closer:before {
 right:10px;
 content:""
}
.brighttheme-icon-sticker:before {
 right:30px;
 content:""
}
.brighttheme-icon-sticker.brighttheme-icon-stuck:before {
 -moz-transform:rotate(180deg);
 -webkit-transform:rotate(180deg);
 -o-transform:rotate(180deg);
 -ms-transform:rotate(180deg);
 transform:rotate(180deg)
}
.brighttheme .ui-pnotify-action-bar {
 padding-top:12px
}
.brighttheme .ui-pnotify-action-bar textarea,.brighttheme .ui-pnotify-action-bar input {
 display:block;
 width:100%;
 margin-bottom:12px!important
}
.brighttheme-info .ui-pnotify-action-button.btn-primary {
 background-color:#0286a5;
 color:#012831
}
.brighttheme-success .ui-pnotify-action-button.btn-primary {
 background-color:#35db00;
 color:#104300
}
.brighttheme-error .ui-pnotify-action-button.btn-primary {
 background-color:#ff1800;
 color:#4f0800
}
.ui-pnotify-closer,.ui-pnotify-sticker {
 float:right;
 margin-left:.2em
}
.ui-pnotify-container {
 position:relative;
 left:0
}
@media(max-width:480px) {
 .ui-pnotify-mobile-able.ui-pnotify {
  position:fixed;
  top:0;
  right:0;
  left:0;
  width:auto!important;
  font-size:1.2em;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -ms-font-smoothing:antialiased;
  font-smoothing:antialiased
 }
 .ui-pnotify-mobile-able.ui-pnotify .ui-pnotify-shadow {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border-bottom-width:5px
 }
 .ui-pnotify-mobile-able .ui-pnotify-container {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0
 }
 .ui-pnotify-mobile-able.ui-pnotify.stack-topleft,.ui-pnotify-mobile-able.ui-pnotify.stack-bottomleft {
  left:0;
  right:0
 }
 .ui-pnotify-mobile-able.ui-pnotify.stack-bottomright,.ui-pnotify-mobile-able.ui-pnotify.stack-bottomleft {
  left:0;
  right:0;
  bottom:0;
  top:auto
 }
 .ui-pnotify-mobile-able.ui-pnotify.stack-bottomright .ui-pnotify-shadow,.ui-pnotify-mobile-able.ui-pnotify.stack-bottomleft .ui-pnotify-shadow {
  border-top-width:5px;
  border-bottom-width:1px
 }
}
.ui-pnotify.ui-pnotify-nonblock-fade {
 opacity:.2
}
.ui-pnotify.ui-pnotify-nonblock-hide {
 display:none!important
}
